  {{!-- post's display --}}
  <div class=".postwrapper" id="post{{id}}">
      <div>
        <h1 class="postTitle" >{{title}}</h1>
        <p>created by {{user.userName}} on {{format_date datePosted}}</p>
    </div>
    <article>
        {{blog}}
    </article>
      <nav class="postButtons">
          <button class="updateBtn" id={{id}}> Update Post </button>
          <button class="deleteBtn" id={{id}}> Delete Post </button>
      </nav>
    </div>


{{!-- the update modal content --}}
      <section class="updateModal" id="modal{{id}}">
      <div class="modalContent">
        <h1 class="modalTitle">Update your Post</h1>
        <button id="" class="closeBtn closeUpdate">&times;</button>
      </div>

      <form class="form">
        <label for="updateTitle"></label>
        <input type="text" class="updateTitle{{id}}" value="{{title}}"/>

        <label for="updateContent"></label>
        <textarea class="updateContent{{id}}">{{blog}}</textarea>

        <input class="submitBtn update-submit" id="{{id}}" value="submit" />
      </form>

    </section>