<div class="postWrapper">
    
    <div class="postHead">
        <h1 class="postTitle" id={{id}}>{{title}}</h1>
        <h4 class="userDate">created by {{user.userName}} on {{format_date datePosted}}</h4>
    </div>
    <article class="postArticle">
        {{blog}}
    </article>

</div>
