    <div>
        <h1 class="postTitle" id={{id}}>{{title}}</h1>
        <p>created by {{author}} on {{date_posted}}</p>
    </div>
    <article>
        {{blog}}
    </article>
    <button class="commentBtn" id={{id}}> Go on! Add a comment....</button>