{{!-- Posts --}}
<section class="postCard postWrapper">
      <div class="postHead">
        <h1 class="postTitle" id={{viewPost.id}}>{{viewPost.title}}</h1>
        <h4 class="userDate">created by {{viewPost.user.userName}} on {{format_date viewPost.datePosted}}</h4>
    </div>
    <article class="postArticle">
        {{viewPost.blog}}
    </article>
    {{#if loggedIn}}
    <button class="commentBtn Btn" id={{id}}> Go on! Add a comment....</button>
    {{/if}}
</section>

<section class="comments ">
    {{#each comments as |comments|}}
    <div class="postWrapper">
      <div class="postHead">
        <h2>{{comments.user.userName}} {{format_date comments.datePosted}}</h2>
      </div>
        <article class="postArticle">{{comments.Comment}}</article>>
    </div>
    {{/each}}
</section>

   <section class="commentModal">
      <div class="modalContent">
        <h1 class="modalTitle">Add a Comment</h1>
        <button id="closeComment" class="closeBtn">&times;</button>
      </div>

      <form class="form">

        <label for="commentContent"></label>
        <input type="textarea" id="commentContent" placeholder="Add your comment" />



        <input class="submitBtn" id="comment-submit" type="submit" value="Submit" />
      </form>

    </section>

    
<script src="../js/postPage.js"></script>
   

    