{{!-- Posts --}}
<section class="postCard">
      <div>
        <h1 class="postTitle" id={{id}}>{{viewPost.title}}</h1>
        <p>created by {{viewPost.user.userName}} on {{viewPost.datePosted}}</p>
    </div>
    <article>
        {{viewPost.blog}}
    </article>
    {{#if loggedIn}}
    <button class="commentBtn" id={{id}}> Go on! Add a comment....</button>
    {{/if}}
</section>

<section class="comments">
    {{#each comments as |comments|}}
      <div>
        <h2>{{comments.user.userName}} {{comments.datePosted}}</h2>
        <p>{{comments.Comment}}</p>
    {{/each}}
    </div>
    {{!-- {{else}}
    <p>Be the first to comment on this Post</p>
    {{/if}} --}}
</section>

   <section class="commentModal">
      <div class="modalContent">
        <h1 class="modalTitle">Add a Comment</h1>
        <button id="closeComment" class="closeBtn">&times;</button>
      </div>

      <form class="form">

        <label for="commentContent"></label>
        <input type="textarea" id="commentContent" placeholder="Add your comment" />



        <input class="submitBtn" id="comment-submit" type="submit" value="Submit" />
      </form>

    </section>

    
<script src="../js/postPage.js"></script>
   

    